@import "theme.css";

/* Глобальні стилі */
* {
  font-size: 15;
  padding: 0;
  margin: 0;
}

#waybar {
  min-height: 0px;
  background-color: @base-opacity;
  border: 2px solid @lavender;
  color: @text;
  font-family: "0xProto Nerd Font";
}

/* Загальні стилі для елементів */
#window,
#language,
#workspaces button,
#clock,
#cpu,
#memory,
#network,
#custom-icon,
#battery,
#backlight {
  margin: 8px 0;
  padding: 0 8px;
}

/* Специфіка для custom icon */
#custom-icon {
  font-size: 20px;
  color: @lavender;
  margin: 5px 0 5px 10px;
}

/* Workspaces */
#workspaces button {
  color: @subtext0;
  font-weight: bold;
  margin-left: 2px;
}

#workspaces button.active {
  color: @sky;
  background-color: @surface1;
  border-radius: 0;
}

/* Battery */
#battery {
  margin-right: 10px;
}

/* CPU активний */
#cpu.active {
  background-color: @base;
}

/* Clock & Window */
#window,
#clock {
  color: @lavender;
  font-size: 17px;
}

#window:active {
  background: @surface0;
}

/* Backlight */
#backlight {
  margin-left: 10px;
}

/* Hover-ефекти */
#workspaces button:hover,
#cpu:hover,
#memory:hover,
#network:hover,
#battery:hover,
#custom-icon:hover,
#clock:hover,
#window:hover,
#language:hover,
#backlight:hover {
  background: @surface0;
  border-radius: 0;
}

tooltip {
  background-color: @base-opacity; /* Catppuccin Mocha: base */
  color: @text;           /* Catppuccin Mocha: text */
  border: 2px solid @lavender;
  font-size: 14px;
  padding: 10px;
  border-radius: 0px;
}