@import "theme.css";

#waybar {
  background: @base;
  /* border: solid @sky 1px; */
  /* border-radius: 10px; */
  margin: 8px 50px;
  padding: 0 10px;
  color: @text;
  font-family: "0xProto Nerd Font";
  font-size: 16px;
  min-height: 36px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#workspaces button {
  margin-left: 5px;
  padding: 0 8px;
  color: @subtext0;
  border-radius: 8px;
}

#workspaces button.active {
  background-color: @surface1;
  color: @sky;
}

#clock {
  font-size: 18px;
  color: @lavender;
}

#cpu, #memory, #network, #battery #custom-icon {
  padding: 0 10px;
}

#cpu:hover, #memory:hover, #network:hover, #battery:hover, #custom-icon:hover, #clock:hover {
  background: @surface0;
  border-radius: 10px;
}

#custom-icon {
  margin-left: 10px;
  font-size: 20px;
  color: @lavender;
}

#battery {
  margin-right: 10px;
}

#cpu.active {
  background-color: @base;
}
/*

* {
  font-family: "0xProto Nerd Font";
  font-size: 14px;
  min-height: 0;
}

#waybar {
  background: transparent;
  background-color: @surface0;
  border-radius: 10px;
}

#workspaces {
  border-radius: 7px;
  margin: 5px;
  background-color: @surface1;
  margin-left: 1rem;
}

#workspaces button {
	color: @lavender;
	border-radius: 1rem;
	padding: 0.4rem;
}

#workspaces button.active {
color: @sky;
border-radius: 1rem;
}

#workspaces button:hover {
color: @sapphire;
border-radius: 1rem;
}

*/