@import "theme.css";

* {
  font-size: 15;
  padding: 0;
  margin: 0;
}

#waybar {
  min-height: 0px;
  background-color: @base-opacity;
  border: solid @lavender 2px;
  border-radius: 10px;
  color: @text;
  font-family: "0xProto Nerd Font";
}

#workspaces button,
#clock,
#cpu,
#memory,
#network,
#custom-icon,
#battery {
  margin: 8px 0;
  padding: 0px 8px;
}

#workspaces button {
  color: @subtext0;
  font-weight: bold;
  margin-left: 5px;
  border-radius: 8px;
}

#workspaces button.active {
  color: @sky;
  background-color: @surface1;
}

#clock {
  color: @lavender;
  font-size: 17px;
}

#cpu:hover, #memory:hover, #network:hover, #battery:hover, #custom-icon:hover, #clock:hover {
  background: @surface0;
  border-radius: 10px;
}

#custom-icon {
  color: @lavender;
  margin-left: 10px;
}

#battery {
  margin-right: 10px;
}

#cpu.active {
  background-color: @base;
}
/*

* {
  font-family: "0xProto Nerd Font";
  font-size: 14px;
  min-height: 0;
}

#waybar {
  background: transparent;
  background-color: @surface0;
  border-radius: 10px;
}

#workspaces {
  border-radius: 7px;
  margin: 5px;
  background-color: @surface1;
  margin-left: 1rem;
}

#workspaces button {
	color: @lavender;
	border-radius: 1rem;
	padding: 0.4rem;
}

#workspaces button.active {
color: @sky;
border-radius: 1rem;
}

#workspaces button:hover {
color: @sapphire;
border-radius: 1rem;
}

*/